html {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body {
  background: gray;
}

#container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff;
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff;
}
heading {
  text-align: center;
}

#tooltip {
  position: absolute;
  padding: 2px;
  font: 16px sans-serif;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  background: lightsteelblue;
  padding: 10px;
}

.cell:hover{
  stroke: black;
  stroke-width: 2px;
}
